<h1> Fender <small> Guitars </small></h1>
<hr>

<div class="card-columns">

  <div class="card" *ngFor="let guitar of guitars">
    <img class="card-img-top" [src]="guitar.img" [alt]="guitar.nombre">
    <div class="card-body">
      <h5 class="card-title">{{ guitar.nombre }}</h5>
      <p class="card-text">{{ guitar.description }}</p>
      <p class="card-text"><small class="text-muted">{{guitar.strings}}</small></p>

      <button type="button" class="btn btn-outline-primary btn-block">
        Ver mas...
      </button>
    </div>
  </div>

</div>
